/*********************************************

This is the style file for this project.

**********************************************/
#keyboard{
  position: relative;
  width:100%;
  top:100px;
}
#keyboard .keys{
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}
#keyboard .columns{
  position: absolute;
}

#keyboard .columns #column20{
  border-right: 1px solid black;
}

#colorSelector{
  position: relative;
  width: 100%;
  top:10px;
}

#colorSelector .colors{
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 30px;
}

#colorSelector .btn{
  position: absolute;
  width: 31px;
  height: 31px;
  transition: all .2s ease-in-out;
}

#colorSelector #play-button{
  left:20px;
}
#colorSelector #empty{
  left:70px;
}

#colorSelector .btn:hover{
  transform: scale(1.1);
}
